<div class="jumbotron text-center" [hidden]="loading || question">
  <h1>We ran out of Bullshit!</h1>
</div>

<div ng-hide="loading || !question">
  <div class="jumbotron text-center" [hidden]="lastResponseResult != null">
    <h1>{{question?.question}}</h1>
  </div>

  <div class="jumbotron text-center" [hidden]="lastResponseResult == null">
    <h2>{{lastResponseResult?.lastResult}}</h2>
  </div>

  <div class="text-center" [hidden]="lastResponseResult != null">
    <button type="button" class="btn btn-success bsButton" (click)='answer(false)'>Yep</button>
    <button type="button" class="btn btn-danger bsButton" (click)='answer(true)'>Bullshit!!!</button>
  </div>

  <div class="text-center" [hidden]="lastResponseResult == null">
    <button type="button" class="btn btn-primary bsButton" (click)='loadQuestion()'>More Bullshit</button>
  </div>
</div>