<!doctype html>
<html>
<head>
<title>Bullshit app</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<!--<style type="text/css">-->
<!--[ng\:cloak], [ng-cloak], .ng-cloak {-->
	<!--display: none !important;-->
<!--}-->
<!--</style>-->
</head>

<body>

	<div class="jumbotron text-center">
		<h1>Bullshit</h1>
		<p>Is this the real life or is it just bullshit?</p>
	</div>

	<div ng-app="bullshit" ng-controller="question as conQuestion" >
		<div class="loader center" ng-show="loading"></div>
		<div ng-hide="loading" >
			<div class="jumbotron text-center" ng-show="lastResponseResult == null">
				<h1>{{question.question}}</h1>
			</div>

			<div class="jumbotron text-center" ng-show="lastResponseResult != null">
				<div ng-show="lastResponseResult">
					<h2>Yep</h2>
				</div>

				<div ng-show="!lastResponseResult">
					<h2>Nope</h2>
				</div>
			</div>

			<div class="text-center" ng-show="lastResponseResult == null">
				<button type="button" class="btn btn-success" ng-click='answer(false)' >Yep</button>
				<button type="button" class="btn btn-danger" ng-click='answer(true)' >Bullshit!!!</button>
			</div>

			<div class="text-center" ng-show="lastResponseResult != null">
				<button type="button" class="btn btn-primary" ng-click='loadQuestion()' >More Bullshit</button>
			</div>
		</div>

	</div>


	<script src="bower_components/jquery/dist/jquery.js" type="text/javascript"></script>
	<script src="bower_components/angular/angular.js" type="text/javascript"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	<script src="js/hello.js"></script>
</body>
</html>
